<div class="container my-5">
    <h1 class="mb-3">Edit ProductLoss</h1>
    <form #form="ngForm" (ngSubmit)="edit()">
        <div>
          <label>Id:</label>
          {{editStockRequest.stockID}}
        </div>
        <div class="mb-3">
          <label for="productName" class="form-label">Product Name</label>
          <input [(ngModel)] = "editStockRequest.productName" name="productName" type="text" class="form-control" id="productName" placeholder="iPhone">
        </div>
        <div class="mb-3">
          <label for="orderAmount" class="form-label">Order Amount</label>
          <input [(ngModel)]="editStockRequest.orderAmount" type="number" name="orderAmount" class="form-control" id="orderAmount">
        </div>
        <div class="mb-3">
          <label class="form-label" for="totalOrderPrice">Total Order Price</label>
          <input [(ngModel)]="editStockRequest.totalOrderPrice" type="number" name="totalOrderPrice" class="form-control" id="totalOrderPrice">
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
        <button (click)="delete()" class="btn btn-delete" id="delete">Delete</button>
      </form>


</div>

